@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "微软雅黑";
}
body,html{
    width: 100%;
}
header{
    width: auto;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
        height: 0.77rem;
        width: 2.16rem;
        margin-left: 0.18rem;
    }
    .tow{
        font-size: 0.33rem;
        margin-right: 0.18rem;
        color: #999999;
    }
    .div_center{
        font-size: 0.36rem;
    }
    .div_rignt{
        font-size: 0.22rem;
    }
}
.swiper-slide{
    img{
        width: 100%;
        height: 100%;
    }
}
.container{
    margin: 0 8px;
    .section1{
        width: auto;
        margin: 0 auto;
        .div_top{
            width: 100%;
            height: 0.48rem;
            background: gainsboro;
            line-height: 0.48rem;
            font-size: 0.24rem;
            color: #000000;
            border-radius: 5px;
        }
        .div_center{
            margin-top: 0.36rem;
            font-size: 0.36rem;
            color: #000;
            text-align: center;
        }
        .div_bottom{
            justify-content: center;
            margin-top: 0.36rem;
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0.30rem;
                color: #999;
                span{
                    margin-left: 0.5rem;
                }
                .three{font-size: 0.30rem;}
            }
        }
        .tiao{width: 100%;height: 1px;margin-top: 0.3rem;background: #eaeaea;}
    }
    .section2{
        width: auto;
        margin: 0 auto;
        margin-top: 0.2rem;
        .ul{
            width: auto;
            display: flex;
            flex-wrap: wrap;
            li{
                margin-right: 0.12rem;
                font-size: 0.24rem;
                height: 0.32rem;
                line-height: 0.32rem;
                border: 1px solid #eaeaea;
                border-radius: 5px;
                color: gainsboro;
            }
        }
        .div_center{
            text-indent: 0.7rem;
            margin-top: 0.36rem;
            font-size: 0.24rem;
            color: #666;
            img{
                width: 5.27rem;
                height: 3.5rem;
                margin-top: 0.3rem;
                margin-bottom: 0.5rem;
                margin-left: 0.48rem;
                
            }
        }
    }
    .section3{
        width: auto;
        height: 0.7rem;
        border: 1px solid #2bb281;
        font-size: 0.36rem;
        text-align: center;
        line-height: 0.7rem;
        border-radius: 5px;
        color: #2bb281;
    }
    .section4{
        width: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 24px;
        margin-bottom: 0.36rem;
        margin-top: 0.36rem;
        img{
            width: 1rem;
            height: 1rem;
        }
    }
}
.section5{
        width: 100%;
        height: 0.18rem;
        background: gainsboro;
        margin-top: 0.24rem;
        margin-bottom: 0.36rem;
    }
.banner{
    margin: 0 8px;
    .top{
        border-left: 3px solid #2bb281;
        font-size: 24px;
        display: flex;
        align-items: center;
        margin-bottom: 0.24rem;
    }
    .center{
        .ca{width: auto;display: flex;padding-bottom: 0.2rem;margin-top: 0.2rem;}
        .cc{width: auto;border-bottom: 1px solid gainsboro;display: flex;padding-bottom: 0.2rem;margin-top: 0.2rem;}
        img{
            width: 1.88rem;
            height: 1.42rem;
        }
        .c{
           margin-left: 0.2rem;
            p{
                font-size: 24px;
            }
            div{
                font-size: 18px;
                display: flex;
                justify-content: space-around;
                margin-top: 0.7rem;
            }
        }
    }
}
.bottom{
    font-size: 20px;
    margin: 0 8px;
    text-indent: 0.5rem;
}
.bt{
    font-size: 20px;
    margin-bottom: 0.2rem;
    text-align: center;
    span{color: #2BB281;}
}
.ul2{
    margin: 0 8px;
    font-size: 20px;
    display: flex;
    li{
        width: 25%;
        text-align: center;
    }
}
.li{
        color: #2BB281;
    }
.img{
    width: 100%;
    margin-bottom: 0px !important;
}
